<h2>退会画面</h2>
  <p>
    退会手続きをすると、会員登録情報や<br>
    これまでの購入履歴が閲覧できなくなります。<br>
    再度ご利用をいただく場合には、新規登録のお手続きが必要になります。
  </p>
  <p>
    退会する場合は、「退会する」をクリックしてください。
  </p>
<%= link_to "退会しない", customers_my_page_path %>
<%= link_to "退会する", customers_withdraw_path, method: :patch, data: { confirm: "本当に退会しますか？" } %>
