<h2>Items</h2>

<div>
  <%= link_to "新規商品", new_admin_item_path %>
</div>

<% @items.each do |item| %>
  <table>
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= image_tag item.get_image(200,200) %></td>
        <td><%= link_to item.name, admin_item_path(item.id), class:"text-dark" %></td>
        <td><%= item.price %></td>
      </tr>
    </tbody>
  </table>
<% end %>
