<!--<div class="background-image1"></div>-->

<div class="container">
    
  <div class="mb-5 mx-auto text-center">
    <p style="padding-top:30px;">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </p>
  </div>
  
</div>
