<div class="container">
  
  <div class="row my-4">
    <div class="flex_text-box">
      <h2>商品一覧</h2>
      <div class="item-box my-4" style="display:flex">
      <% @items.each do |item| %>
        <div class="item">
          <%= image_tag item.get_image(150,150) %>
          <div class="item-body">
            <h4 class="item-title"><%= link_to item.name, item_path(item.id), class:"text-dark" %></h4>
            <p class="item-price">¥<%= item.price.to_s(:delimited) %>(税抜)</p>
          </div>
        </div>
      <% end %>
      <%= paginate @items %>
      </div>
    </div>
  </div>
  
</div>
